.login-signup-section {
    display: grid;
    height: 100vh;
}

.login-signup-section .picme-icon {
    height: 200px;
}

.left-panel-login-signup {
    display: none;
    grid-column: 1;
    padding: 0 20px;
    height: 100%;
    border-right: solid 2px var(--border-light);
}

.left-panel-login-signup h1 {
    font-size: 2.8vw;
    font-weight: 400;
    word-wrap: break-word;
    text-align: center;
    line-height: 64.8px;
    margin: 0;
}

.left-panel-login-signup span {
    background: var(--gradient-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.loginsignup-left-png {
    height: clamp(325px, 50vh, 540px);
    width: auto;
    margin: auto;
}

.login-signup-main {
    display: grid;
    margin: auto;
    grid-column: 1;
    width: 100%;
    max-width: 650px;
    height: 100%;
    padding: 0 52px;
}