/* Page background
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #fafafa;
} */

.form-section{
    width: 100%;
    grid-column: 2;
}

/* Center container */
.login-form {
    width: 100%;
    max-width: 350px;
    margin: 10vh auto;
    padding: 40px 30px;
    background: #fff;
    border: 1px solid #dbdbdb;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
}

/* Inputs */
.login-form input {
    height: 38px;
    padding: 8px 10px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    background: #fafafa;
    outline: none;
}

.login-form input:focus {
    border-color: #a8a8a8;
    background: #fff;
}

/* Login button */
.login-form button {
    margin-top: 8px;
    height: 32px;
    border-radius: 8px;
    border: none;
    background-color: #4cb5f9;
    color: white;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #1877f2;
}

/* Disabled look (optional) */
.login-form button:disabled {
    opacity: 0.5;
    cursor: default;
}
