.story-index {
    height: 100vh;

    h2 {
        margin: 0;
        font-size: 1.3em;
    }

    button {
        margin-inline-end: 0;
    }

    .loader-section {
        height: 600px;
        display: grid;
        place-items: center;
    }
}