.details-content {
    display: grid;
    grid-template-columns:
        minmax(450px, 863px) minmax(340px, 500px);

    width: min(96vw, 1363px);
    height: min(94vh, 863px);

    background: #fff;
    overflow: hidden;

    box-shadow: 0 8px 30px rgba(0, 0, 0, .25);
}

.details-img {
    background: #000;
}

.details-img img {
      aspect-ratio: 1 / 1;    
  align-self: center; 
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.side-details-section {
    display: flex;
    flex-direction: column;
    min-height: 0;
}


.side-details-section header,
.preview-action-btns,
.details-stats,
.new-comment-section {
    flex-shrink: 0;
}

.side-details-section header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-right: 8px;
    border-bottom: 1.3px solid var(--border-clr2);

    .avatar {
        display: flex;
        gap: 16px;
        align-items: center;

        padding: 14px 4px 14px 16px;
    }

    .btn {
        margin: 8px;
        cursor: pointer;

        &:hover {
            color: var(--icon-btn-hover);
        }
    }
}

.details-close {
    position: fixed;
    top: 13px;
    right: 27px;
    z-index: 200;
    background: transparent;
    color: var(--txt-clr3);
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
}

.comment-section {
    flex: 1;

    overflow-y: auto;
    scrollbar-width: none;
    padding: 16px;

    font-size: 14px;
    border-bottom: 1.3px solid var(--border-clr2);
}

.comment-section .story-txt {
    display: flex;
    align-content: start;
    gap: 16px;

    padding: 12px 0 16px;
    margin: -5px -2px 0 0;

    .story-date {
        color: var(--txt-clr2);
        font-size: 12px;
    }

    div:nth-child(2) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 43px;
    }
}

.side-details-section .preview-action-btns {
    padding: 6px 8px 8px 8px;
    margin: 0;
}

.new-comment-section {
    display: flex;
    align-items: center;
    border-top: 1.3px solid var(--border-clr2);
    padding: 0px 16px;
    min-height: 55px;

    img {
        width: 24px;
        height: 24px;
        margin-right: 16px;
        cursor: pointer;
    }

    .emoji-text-area {
        width: 100%;
        display: flex;
        align-items: center;
    }

    textarea {
        padding-top: 16px;
        line-height: 1.4;

        width: 100%;
        max-height: 80px;
        resize: none;
        font-size: 14px;
        font-family: '-apple-system', 'BlinkMacSystemFont', "Segoe UI", 'Roboto', Helvetica, Arial, sans-serif;
        line-height: 16px;
        border: none;
        outline: none;
    }

    a {
        color: var(--txt-clr4);
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

.details-stats {
    padding: 0 16px 8px 16px;

    p {
        font-size: 14px;
    }

    span {
        font-size: 12px;
        color: var(--txt-clr2);
    }
}