.mobile-details-section {
    width: 100vw;
    position: absolute;
    inset: 0;
    top: 0;
    background: white;
    z-index: 300;

    display: flex;
    flex-direction: column;

    overscroll-behavior: contain;
    touch-action: manipulation;
}

.mobile-details-section .preview {
    overflow-y: scroll;
    width: 100%;
}

.mobile-details-section .pre-header {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 70px;
    font-weight: 600;
    padding: 0 16px;

    div {
        width: 100%;
        text-align: center;
    }

    svg{
        transform: rotate(-90deg)
    }

    button {
        background-color: transparent;
    }
}

.mobile-details-section .date{
    padding-left: 16px;
}

.mobile-details-section .story-txt-short {
    span {
       margin-right: 5px;
       font-size: 16px; 
    }
    p{
        font-size: 16px;
    }
}
