
.details-content {
    display: grid;
    grid-template-columns: 1.35fr 1fr;

    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
    background: white;

    width: 63vw;
    height: 95vh;
    max-width: 1210px;

    p {
        margin: 0;
        padding: 0;
    }
}

.details-img {
    flex: 1.2;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.side-details-section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.side-details-section header {
    display: flex;
    align-items: center;

    border-bottom: 1.3px solid var(--border-clr2);
    justify-content: space-between;

    .avatar {
        display: flex;
        gap: 12px;
        align-items: center;

        padding: 14px 4px 14px 16px;
    }

    .btn {
        padding: 8px 16px 8px 8px;
        cursor: pointer;

        &:hover {
            color: var(--icon-btn-hover);
        }
    }
}

.details-close {
    position: fixed;
    top: 13px;
    right: 27px;
    z-index: 200;
    background: transparent;
    color: var(--txt-clr3);
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
}

.comment-section {
    flex: 1;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 16px;

    font-size: 14px;
    border-bottom: 1.3px solid var(--border-clr2);
}

.comment-section .story-txt {
    display: flex;
    align-items: top;
    gap: 12px;
    padding: 12px 0 16px;
    margin: -5px -2px 0 0;

    span {
        color: var(--txt-clr2);
        font-size: 12px;
    }
}

.side-details-section .preview-action-btns {
    padding: 8px;
    margin: 0;
}

.new-comment-section {
    display: flex;
    align-items: center;
    border-top: 1.3px solid var(--border-clr2);
    padding: 0px 16px;

    img {
        width: 24px;
        height: 24px;
        margin-right: 16px;
        cursor: pointer;
    }

    .emoji-text-area {
        width: 100%;
        display: flex;
        align-items: center;
    }

    textarea {
        padding-top: 16px;
        line-height: 1.4;

        width: 100%;
        max-height: 80px;
        resize: none;
        font-size: 14px;
        font-family: '-apple-system', 'BlinkMacSystemFont', "Segoe UI", 'Roboto', Helvetica, Arial, sans-serif;
        line-height: 16px;
        border: none;
        outline: none;
    }

    a {
        color: var(--txt-clr4);
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

.details-stats {
    padding: 0 16px 8px 16px;

    p {
        font-size: 14px;
    }

    span {
        font-size: 12px;
        color: var(--txt-clr2);
    }
}