.profile-page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-y: auto;

  .loader-section{
    height: 600px;
    display: grid;
    place-items: center;
  }
}

.profile-main {
  width: 74%;
  height: 100vh;
  padding-top: 30px;
}

.profile-header {
  justify-self: center;
  display: flex;
  flex-direction: column;
  width: 95%;
  
  .top-header-row {
    width: 100%;
    display: flex;
    gap: 20px;
  }
}

.profile-header-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 16px 0;
  row-gap: 4px;

  >* {
    height: 100%;
  }

  &:nth-child(2) {
    margin-bottom: 8px;
  }
}

.profile-header-main .username {
  align-self: center;
  font-size: 24px;
  font-weight: 700;
}

.profile-header-main .profile-fullname {
  font-size: 14px;
  color: var(--txt-clr1);
}

.profile-avatar {
  display: grid;
  place-items: center;
}

.profile-avatar img {
  width: 77px;
  height: 77px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--txt-clr2);
}

.profile-top-row {
  display: flex;
  min-height: 40px;
}

.profile-username {
  align-self: center;
  font-size: 24px;
  font-weight: 400;
}

.profile-btn-section {
  display: flex;
  gap: 8px;
}

.profile-btn {
  height: 44px;
  width: 100%;
  padding: 0 20px;
  font-size: 14px;
  background-color: var(--btn-clr2);
  font-weight: 600;

  border-radius: 8px;
  cursor: pointer;
}

.profile-btn:hover {
  background: #F0F0F0;
}

.profile-stats {
  display: flex;
  font-size: 14px;
  gap: 16px;

  padding: 0;
  list-style: none;

  span {
    font-weight: 600;
  }
}

.profile-bio, .profile-bio-mobile{
  margin: 20px 0;
  font-size: 14px;
  display:block
}

.profile-bio{
  display: none;
}

.profile-highlights {
  margin: 32px 0 32px 20px;
  width: 100%;
  text-align: center;
  display: flex;
  overflow: hidden;
}

.profile-highlights img{
  object-fit: cover;
}

.profile-highlights  span {
  display: block;
  font-size: 14px;
  font-weight: 600;
  padding-top: 15px;
}

.highlight-circle-outer {
  width: 87px;
  height: 87px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 3px solid var(--border-clr);
}

.highlight-circle-inner {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background: var(--border-clr2);

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  overflow: hidden;
}

.highlight-container{
  margin-right: 10px;
}

.new-high-icon {
  width: 40px;
  height: 40px;
  display: block;
  color: var(--icon-btn-hover);
}

.new-high-icon path {
  fill: var(--icon-btn-hover);
  stroke: currentColor;
  stroke-width: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.profile-tabs {
  display: flex;
  justify-content: center;
  column-gap: 4px;

  min-height: 45px;

  color: var(--icon-btn-hover);
  border-bottom: 0.5px solid rgb(219, 223, 228);
}

.inner-profile-tabs {
  display: flex;
}

.profile-tabs .tab {
  height: 44px;
  width: 100%;
  max-width: 193px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab .inner-tab {
  display: grid;
  place-items: center;
  cursor: pointer;
  width: 64px;
  height: 42px;
}

.tab .active {
  color: #262626;
  border-bottom: 2px solid #262626;
}

.profile-tabs svg {
  width: 24px;
  height: 24px;
  display: block;
  flex-shrink: 0;
}

.profile-tabs svg path {
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.profile-stories-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: dense;
  width: 100%;
  gap: 1.3px;
  padding-bottom: 50px;
}

.story-tile {
  aspect-ratio: 1 / 1.335;
  background-color: var(--border-clr2);
  width: 100%;
  cursor: pointer;
  position: relative;
}

.story-tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.story-tile::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--overlay-clr);
  opacity: 0;
  transition: opacity 0.25s ease;
  pointer-events: none;
}

.story-tile:hover::after {
  opacity: 1;
}

.profile-comment-icon {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  color: white;
  font-weight: 600;

  opacity: 0;
  z-index: 1;
  transition: opacity .25s ease;
}

.profile-comment-icon span {
  font-size: 16px;
  transform: translateY(-3px);
}

.story-tile:hover .profile-comment-icon {
  opacity: 1;
}

.story-tile svg {
  width: 25px;
  height: 25px;
  fill: currentColor;
}

.profile-stories {
  height: 300px;
  display: flex;
  justify-content: center;
}

.profile-stories .no-stories {
  font-size: 18px;
  font-weight: 600;
}