.app-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;

    min-height: 3.5rem;

    padding: 10px 16px;
    background-color: var(--clr4);

    p {
        margin: 0;
    }
    
    span {
        font-size: .8em;
        
        &.local-services {
            color: var(--clr1);
        }
        
        &.remote-services {
            color: var(--clr5);
        }
    }
}