.app-header{
    position: relative;
}
.app-header nav{
    position: fixed;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 60px;
    padding: 0 16px;
    background-color: var(--bg-clr1);

    width: 100%;
}

.app-header .logo{
    padding: 0;
}

.app-header svg{
    color: #8E8E8E;
    margin-right: 8px;
    height: 16px;
    width: 16px; 
}

.search-mobile{
    position:relative;
    display: flex;
    align-items: center;

    width: 268px;
    height: 44px;
    padding: 0 16px;

    background-color: var(--border-clr2);
    border-radius: 25px;

    input{
        outline: none;
        border-color: transparent;
        font-size: 16px;
        font-family: '-apple-system', 'BlinkMacSystemFont', "Segoe UI", 'Roboto', Helvetica, Arial, sans-serif;
        border-radius: 25px;
        background-color: var(--border-clr2);
    }
}
