.comment-list{
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    gap: 12px;

    p{
        margin: 0;
    }
    
    /* span{
        color: var(--txt-clr2);
        font-size: 12px;
    } */

    li{
        width: 100%;
        min-height: 43px;
        padding-top: 12px;
    }

}