.comment-pcomment {
	display: grid;
	grid-template-columns: subgrid;
	grid-column: 1 / -1;

	p {
		grid-column: 1;
	}

	.comment-by {
		margin-block-end: 1em;
	}

	.comment-txt {
		grid-column: 1 / 3;
		padding: 0.2em;
		background-color: var(--gray2);

		color: var(--gray1);
		font-size: 0.7em;
	}
}
