.comment-list{
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    gap: 12px;

    p{
        margin: 0;
    }

    li{
        width: 100%;
        min-height: 43px;
        padding-top: 12px;
    }
}

.no-comments{
    display: grid;
    place-items: center;
    padding-top: 100px;
    margin: 0;
}