.comment-preview {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.comment-main {
	display: flex;
	gap: 18px;
	min-height: 43px;

	.comment-content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

}

.comment-preview-btns {

	>* {
		margin-right: 12px;
	}

}

.comment-like-btn {
	width: 12px;
	height: 12px;
	margin-top: 10px;
	cursor: pointer;

	&:hover {
		transform: scale(1.04);
	}
}
