.comment-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
    p{
        margin: 0;
    }
    span{
        color: var(--txt-clr2);
        font-size: 12px;
    }

    li{
        width: 100%;
    }

}