.create-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: grid;
    place-items: center;

    z-index: 10;
}

.create-content {
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr;

    height: 391px;
    width: fit-content;
    border-radius: 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
    background: white;
    overflow: hidden;

    >* {
        width: 100%;
    }

    .create-next {
        display: grid;
        align-items: start;
        height: fit-content;
    }

    a {
        background-color: transparent;
        justify-self: end;
        align-self: center;
        color: var(--txt-clr4);
        font-weight: 600;
        padding: 16px;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

}

.create-main {
    display: flex;
}

.create-content .create-header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

    border-bottom: solid 1px var(--border-clr);
    font-weight: 600;
    min-height: 42px;

    div:first-child {
        place-self: center;
    }

    a {
        justify-self: end;
    }
}

.create-content-main {
    display: grid;
    place-content: center;
    place-items: center;
    gap: 18px;

    height: 100%;
    width: 348px;

    &:nth-child(2) {
        font-size: 20px;
    }

    button {
        font-size: 14px;
        padding: 7px 16px;
        margin: 4px;
        border-radius: 8px;
        color: var(--txt-clr3);
        font-family: '-apple-system', 'BlinkMacSystemFont', "Segoe UI", 'Roboto', Helvetica, Arial, sans-serif;
        font-weight: 600;

        &:hover {
            background-color: var(--btn-hover);
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.create-close {
    position: absolute;
    top: 2.5px;
    right: 8px;
    background: transparent;
    color: var(--txt-clr3);
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
}

.create-preview-img {
    display: grid;
    height: 100%;
    width: 348px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
   

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.create-text-section {
    height: 100%;
    width: 340px;

    .avatar {
        display: flex;
        align-items: center;
        gap: 12px;
        margin: 0 16px;
        height: 60px;
    }

    .emoji-text-area {
        display: grid;
        grid-template-rows: auto auto;
        border-bottom: solid 1px var(--border-clr);

        img {
            height: 20px;
            width: 20px;
            cursor: pointer;
            margin: 12px 16px;
        }
    }

    textarea {
        grid-row: 1;
        width: 100%;
        height: 168px;
        resize: none;
        padding: 0 16px;
        font-size: 1rem;
        font-family: '-apple-system', 'BlinkMacSystemFont', "Segoe UI", 'Roboto', Helvetica, Arial, sans-serif;
        line-height: 20px;
        border: none;
        outline: none;
    }
}

.add-location {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    color: var(--txt-clr2);
    border-bottom: solid 1px var(--border-clr);
}