.comments-sheet {
  align-items: flex-end;
}

.comments-sheet .modal-content {
  width: 100%;
  height: 70vh;
  padding: 0 16px;

  border-radius: 24px 24px 0 0;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  animation: slideUp 0.25s ease;

  overflow-y: auto;
  scrollbar-width: none;
}

.comments-sheet .comments-header {
  position: sticky;
  top: 0;
  display: grid;
  width: 100%;
  height: fit-content;
  padding: 30px 15px 10px 15px;
  background-color: #fff;
  z-index: 20;

  justify-content: center;

  span {
    grid-row: 1;
    font-weight: 700;
  }
}

.comments-sheet .comment-list {
  /* height: 100%; */
  font-size: 14px;
  border-top: 1.3px solid var(--border-clr2);
  overflow-y:auto;
  min-height: 0;
  flex: 1;
}

.comment-input {
  position: sticky;
  bottom: 0;
  margin-top: auto;
  width: 100%;
  padding: 10px 5px 10px 0;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: white;
}

.comment-main {
  width: 100%;
  align-items: center;
}

.comments-sheet input {
  padding: 16px;
  padding-left: 15px;

  width: 100%;
  max-height: 80px;
  font-size: 14px;
  font-family: '-apple-system', 'BlinkMacSystemFont', "Segoe UI", 'Roboto', Helvetica, Arial, sans-serif;

  border-radius: 25px;
  border: 2px solid var(--border-clr2);

  outline: none;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}