/* Base modal */

.modal-overlay {
  position: fixed;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--overlay-clr);
  overscroll-behavior: contain;
  overflow: hidden;
  z-index: 300;
}

.modal-content{
  display: flex;
  justify-content: center;
}