.nav-section {
    grid-column: 1;
    padding: 8px 12px 20px 12px;
    color: #0C1014;

    border-right: solid 1px var(--border-clr);
}

.nav-btns {
    .nav-btn, a {
        display: flex;
        place-items: center;
        gap: 16px;

        padding: 12px;
        width: 100%;
        height: 56px;
        border-radius: 8px;

        cursor: pointer;
        transition: background-color .2s ease, transform .15s ease;

        &:hover {
            background-color: var(--nav-hover);
        }
    }

    .active {
        font-weight: 700;
    }

    img {
        height: 24px;
    }
}