.nav-section {
    grid-column: 1;
    width: 100%;

    padding: 8px 12px 20px 12px;
    background-color: white;
    color: #0C1014;

    overflow-y: hidden;

    border-right: solid 1px var(--border-clr);
}

.nav-btns {

    .nav-btn,
    a {
        display: flex;
        place-items: center;
        gap: 16px;

        padding: 12px;
        width: 100%;
        height: 56px;
        border-radius: 8px;

        cursor: pointer;
        transition: background-color .2s ease, transform .15s ease;

        &:hover {
            background-color: var(--nav-hover);
        }
    }

    .active {
        font-weight: 700;
    }

    img {
        height: 24px;
    }
}

.nav-btn {
    color: #0C1014;
}

.nav-desktop {
    display: none;
}

.nav-md-device {
    display: none;
}

.nav-mobile {
    display: block;
    border-top: solid 1px var(--border-clr);

    .nav-btn,
    a {
        &:hover {
            background-color: transparent;
        }

    }
}

.nav-section,
.nav-desktop,
.nav-md-device,
.nav-mobile {
  transform: none !important;
  filter: none !important;
  will-change: auto !important;
  opacity: 1 !important;
}