.story-list-section {
    grid-column: 2;
    display: flex;
    justify-content: center;
    padding-top: 0;
}

.story-list {
    display: grid;
    place-items: center;
    width: 630px;
    margin-top: 16px;
}

.feed-sidebar {
    width: 320px;
    margin-top: 36px;
    padding-inline-start: 64px;
}