.story-list-section {
    grid-column: 2;
    display: flex;
    justify-content: center;
    /* background-color: beige; */
    border-left: solid 1px var(--border-clr);
}

.story-list {
    display: grid;
    place-items: center;
    width: 630px;
    margin-top: 16px;

    /* background-color: var(--clr2);
    color: var(--clr6); */
}

.feed-sidebar {
    width: 320px;
    margin-top: 36px;
    padding-inline-start: 64px;
}