.user-msg {
    position: fixed;
    bottom: 0px;
    right: .2em;
    z-index: 500;

    display: flex;
    align-items: center;

    padding: .2em;
    padding-inline-end: 20px;
    background-color: grey;

    color:white;
    font-size: .9em;

    opacity: 0;
    translate: 150%;
    transition: 600ms;
}

.user-msg.visible {
    opacity: 1;
    translate: 0;
}

.user-msg button {
    background-color: var(--gray1);
    padding: 1px 6px;
    border:0;
    border-radius: 50%;
    color:var(--gray4);
}

.user-msg.success {
    background-color: var(--txt-clr1);
    color: white;
}
.user-msg.error {
    background-color: var(--txt-clr1);
    color: white;
}
