* {
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

#root {
    min-height: 100vh;
}

html {
    line-height: 18px;
    color: var(--txt-clr1);
}

body {
    margin: 0;
    font-family: '-apple-system', 'BlinkMacSystemFont', "Segoe UI", 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    height: 100vh;
}

.logo {
    display: flex;
    align-items: center;
    height: 92px;
    padding-left: 12px;

    img {
        height: 30px;
    }
}

img {
    display: block;
    max-width: 100%;
    flex-shrink: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(12, 16, 20);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

input {
    max-width: 100%;
}

button {
    border: 0;
    background-color: var(--btn-clr1);
    cursor: pointer;
}

.avatar {
    display: flex;
}

img.avatar-img,
.profile-avatar img {
    height: initial;
    /* or unset */
    max-width: none;
}

.avatar-img {
    border: solid 1px var(--avatar-bg-clr);
    border-radius: 50%;
    background-color: var(--avatar-bg-clr);
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;


    aspect-ratio: 1 / 1;

    align-self: center;

}

.avatar-img.small {
    height: 24px;
    width: 24px;
}

.avatar-img.small2 {
    height: 28px;
    width: 28px;
}

.avatar-img.md {
    height: 32px;
    width: 32px;
}

.avatar-img.big {
    height: 44px;
    width: 44px;
}

.username {
    font-weight: bold;

    &.small {
        font-size: 14px;
    }
}

.fullname {
    color: var(--txt-clr2);

    &.small {
        font-size: 14px;
    }
}

.rights {
    font-size: 12px;
    color: var(--txt-clr2);
}

.heart-icon {
    margin: 8px;
    display: flex;
    align-content: center;
}

.heart-filled {
    fill: rgb(255, 48, 64);
}

a.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
}

main {
    flex: 1;
    overflow-y: auto;
}

.preview-action-btns {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    padding: 0 4px;
    margin: 4px 0;

    .save-btn {
        margin-left: auto;
    }
}

.delete-btn {
    color: var(--txt-red);
    font-weight: 600;
}

svg {
    cursor: pointer;
    /* color: var(--txt-clr1); */
    height: 24px;
    width: 24px;
    transition: fill 0.2s ease, stroke 0.2s ease, color 0.2s ease;
}

.is-filled {
    fill: currentColor;
    stroke: none;
}

.date {
    color: var(--txt-clr2);
    font-size: 12px;
}

.emoji-wrapper {
    position: absolute;
    bottom: 50px;
    left: 0;
    z-index: 300;
    height: 260px;
    width: 320px;
    overflow: visible;
}