* {
    box-sizing: border-box;
}

html {
    line-height: 18px;
    color: var(--txt-clr1);
}

body {
    margin: 0;
    font-family: '-apple-system', 'BlinkMacSystemFont', "Segoe UI", 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 1rem;
}

.logo {
    display: flex;
    align-items: center;
    height: 92px;
    padding-left: 8px;

    img {
        height: 30px;
    }
}


img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: rgb(12, 16, 20);
}

ul {
    list-style: none;
    padding: 0;
}

input {
    max-width: 100%;
}

button {
    border: 0;
    background-color: var(--btn-clr1);
    cursor: pointer;
}

.avatar {
    display: flex;
}

.avatar-img {
    border-radius: 50%;
    background-color: var(--avatar-bg-clr);
}

.avatar-img.small {
    height: 24px;
    width: 24px;
}

.avatar-img.md {
    height: 32px;
    width: 32px;
}

.avatar-img.big {
    height: 44px;
    width: 44px;
}

.username {
    font-weight: bold;

    &.small {
        font-size: 14px;
    }
}

.fullname {
    color: var(--txt-clr2);

    &.small {
        font-size: 14px;
    }
}

.rights {
    font-size: 12px;
    color: var(--txt-clr2);
}

.heart-filled {
    fill:rgb(255, 48, 64);
    width: 40px;
    height: 40px;
    padding: 8px;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}
