.pointer{
    cursor: pointer;
}

.btn {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin: 8px;

    &:hover {
        transform: scale(1.04);
    }
}

.flex{
    display: flex;
}

.txt-wrap-around {
    float: left;
    /* width: 120px;
    height: 120px; */
    margin: 0 12px 8px 0; /* spacing from text */
}