 /* Font Sizes */
.fs12 { font-size: 12px; }
.fs14 { font-size: 14px; }
.fs18 { font-size: 18px; }
.fs20 { font-size: 20px; }
.fs24 { font-size: 24px; }
.fs28 { font-size: 28px; }
.fs30 { font-size: 30px; }

/* flex helpers */

.flex {

    display: flex;

    > *.full {
        flex: 1;
    }
    &.column {
        flex-direction: column;
    }
    &.justify-center {
        justify-content: center;
    }
    &.align-center {
        align-items: center;
    }
}

/* Media helpers */

.square-ratio {
    aspect-ratio: 1/1;
}
.video-ratio {
    aspect-ratio: 16/9;
}
.portrait-ratio {
    aspect-ratio: 9/16;
}