.main-container {
    height: 100vh;
}

.main-layout {
    display: grid;
    grid-template-columns: 1fr;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}