.main-container {
    height: 100vh;
}

.main-layout {
    display: grid;
    grid-template-columns: minmax(220px, 335px) 1fr;

    >* {
        grid-column: 2;

        &.full {
            grid-column: 1 / -1;
        }
    }

    /* for-narrow-layout {
        grid-template-columns: 
            minmax(20px, 1fr)
            minmax(auto, var(--mobile-breakpoint))
            minmax(20px, 1fr);
    }
    for-normal-layout {
        grid-template-columns: 
            minmax(20px, 1fr)
            minmax(auto, var(--narrow-breakpoint))
            minmax(20px, 1fr);
    }
    for-wide-layout {
        grid-template-columns: 
            minmax(20px, 1fr)
            minmax(auto, var(--normal-breakpoint))
            minmax(20px, 1fr);
    } */
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}