.spinner {
  width: 96px;
  height: 96px;
  margin-bottom: 36px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.checkmark {
  width: 96px;
  height: 96px;
  opacity: 0;
  transform: scale(0.85);
  animation: checkIn 0.25s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

@keyframes checkIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}