/* Small devices */
@media (max-width: 575px) {}

/* Medium devices */
@media (max-width: 768px) {

  .details-content {
    width: 100vw;
    height: 100vh;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: minmax(450px, 1fr);
  }

  .side-details-section {
    max-width: none;
    min-width: unset;
  }
}

/* Large devices */
@media (min-width: 769px) and (max-width: 991px) {

}

/* Extra large devices */
@media (min-width: 992px) and (max-width: 1919px) {

    .main-layout {
        grid-template-columns: 244px 1fr;
    }

    .nav-section {
        grid-template-columns: 244px;
    }

    .create-content {
        height: 735px;
    }

    .create-preview-img,
    .create-content-main {
        /* height: 735px; */
        width: 692px;
    }
}

/* Extra extra large devices */
@media (min-width: 1920px) {

    .main-layout {
        grid-template-columns: 335px 1fr;
    }

    .nav-section {
        grid-template-columns: 335px;
    }

    .create-content {
        height: 735px;
    }

    .create-preview-img,
    .create-content-main {
        width: 692px;
    }
}