@media (min-width: 1264px) and (max-width: 1919px) {
    .main-layout {
        grid-template-columns: 244px 1fr;
    }
    .nav-section{
        grid-template-columns: 244px;
    }
    .create-content{
        height: 735px;
    }

    .create-preview-img, .create-content-main {
        /* height: 735px; */
        width: 692px;
    }
}

@media (min-width: 1919px) {
    .main-layout {
        grid-template-columns: 335px 1fr;
    }

    .nav-section{
        grid-template-columns: 335px;
    }

    .create-content{
        height: 735px;
    }

    .create-preview-img, .create-content-main {
        /* height: 735px; */
        width: 692px;
    }
}