:root {
    --bg-clr1: #FFFFFF;

    --txt-clr1: rgb(12, 16, 20);
    --txt-clr2: #6A717A;
    --txt-clr3: #FFFFFF;
    --txt-clr4: #4150F7;

    --btn-clr1: #4A5DF9;

    --btn-hover: #3143E3;
    --icon-btn-hover: #CCD0D5;
    --btn-hover: #3143E3;
    --nav-hover: rgba(0, 0, 0, 0.05);

    --border-clr: #DBDBDB;
    --border-clr2: #F3F5F7;
    --avatar-bg-clr: #CCD0D5;
}