/* Setup */
@import "setup/vars.css";
@import "setup/mixins";
@import "setup/typography";

/* Basics */
@import "basics/helpers";
@import "basics/layout";
@import "basics/base";
@import "basics/forms";

/* pages */
@import "RootCmp";

@import "pages/AboutUs";
/* @import "pages/HomePage"; */
@import "pages/StoryIndex";
@import "pages/CommentIndex";
@import "pages/UserDetails";
@import "pages/StoryDetails.css";
@import "pages/LoginSignup";
@import "pages/Chat";

/* Components */
@import "cmps/StoryPreview.css";
@import "cmps/StoryList";
@import "cmps/Nav.css";

@import "cmps/AppHeader";
@import "cmps/AppFooter";
@import "cmps/UserMsg";

@import "cmps/Search.css";
@import "cmps/CommentList.css";
@import "cmps/CommentPreview.css";
@import "cmps/FeedSideBar.css";

/* Media Queries */
@import "setup/mq.css";

/* Icons */
@import "@fortawesome/fontawesome-free/css/all.css";