/* Setup */
@import "setup/vars.css";
@import "setup/mixins";
@import "setup/typography";

/* Basics */
@import "basics/helpers";
@import "basics/layout";
@import "basics/base";
@import "basics/forms";

/* pages */
/* @import "RootCmp"; */

@import "pages/AboutUs";
/* @import "pages/HomePage"; */
@import "pages/StoryIndex";
@import "pages/CommentIndex";
@import "pages/UserDetails";
@import "pages/StoryDetails.css";
@import "pages/LoginSignup";
@import "pages/Chat";

/* Components */
@import "cmps/StoryPreview.css";
@import "cmps/StoryList";
@import "cmps/Nav.css";

@import "cmps/AppHeader";
@import "cmps/AppFooter";
@import "cmps/UserMsg";

@import "cmps/Search.css";
@import "cmps/CommentList.css";
@import "cmps/CommentPreview.css";
@import "cmps/FeedSideBar.css";
@import "cmps/CreateStory.css/";
@import "cmps/Modal.css";
@import "cmps/StoryMoreOpt.css";

/* Media Queries */
@import "setup/mq.css";

/* Icons */
@import "@fortawesome/fontawesome-free/css/all.css";

.epr-category-nav {
  display: none !important;
}

/* 1. FIX CUT EMOJIS (CRITICAL) */
.EmojiPickerReact button.epr-emoji {
  overflow: visible !important;
}

/* 2. FIX LABEL FONT SIZE       */
.EmojiPickerReact .epr-emoji-category-label {
  font-size: 12px !important;
}

