/* Setup */
@import "setup/vars.css";
@import "setup/typography.css";
@import "setup/animations.css";

/* Basics */
@import "basics/helpers.css";
@import "basics/layout.css";
@import "basics/base.css";
@import "basics/forms.css";

/* pages */
@import "pages/Login.css";
@import "pages/StoryIndex.css";
@import "pages/UserDetails.css";
@import "pages/StoryDetails.css";
@import "pages/StoryDetailsMobile.css";
@import "pages/Explore.css";

/* Components */
@import "cmps/StoryPreview.css";
@import "cmps/StoryList.css";
@import "cmps/Nav.css";

@import "cmps/AppHeader.css";
@import "cmps/UserMsg.css";

@import "cmps/Search.css";
@import "cmps/CommentList.css";
@import "cmps/CommentPreview.css";
@import "cmps/FeedSideBar.css";
@import "cmps/CreateStory.css/";
@import "cmps/Modal.css";
@import "cmps/StoryMoreOpt.css";
@import "cmps/UserHoverCard.css";
@import "cmps/MobileCommentsModal.css";
@import "cmps/CreateStoryMobile.css";

/* Media Queries */
@import "setup/mq.css";

.epr-category-nav {
  display: none !important;
}

.EmojiPickerReact button.epr-emoji {
  overflow: visible !important;
}

.EmojiPickerReact .epr-emoji-category-label {
  font-size: 12px !important;
}

